.contacts {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.item {
    width: 460px;
    border: 1px solid #010301;
    border-radius: 4px;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    border: 1px solid #010300;
    border-radius: 4px;
}
